@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, ::before, ::after {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Helvetica Neue';
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body, :where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}


:where(address[class]) {
    font-style: normal;
}

p {

    margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

input, textarea, select, button {
    font: inherit;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
}

html, :has(:target) {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
}

a:where([class]) {
    display: inline-flex;
}

button, label {
    cursor: pointer;
}

:where([stroke]:not([stroke="none"],[stroke^="url"])) {
    stroke: currentColor;
}

svg * {
    transition-property: fill, stroke;
}

:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}
.header-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;

}
.nav-container{
    display: flex;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}
.nav-link{
    color: black;
}
.action-button{
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0141F9;
    gap: 6px;
    border-radius: 8px;
    color: white;
    transition: .3s ease-in;

    &:hover{
        background: #0366D6;
    }

    &:active{
        background: #013B99;
    }
}
.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    z-index: 1;
    background-color: #0141F9;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

.burger-menu.show {
    transform: translateX(0);
    pointer-events: auto;
    
}

.burger-menu ul {
    list-style: none;
    padding: 10px;
    margin-top: 70px;
}

.burger-menu ul li {
    margin: 20px 0;
}

.burger-menu ul li a {
    color: white;
    font-size: clamp(1.125rem, 0.8495rem + 1.2245vw, 1.5rem);
    font-weight: normal;
}

.burger-icon {
    width: 34px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1;
    border-radius: 20px;
    display: none;
}

.burger-stick {
    width: 33px;
    height: 2px;
    margin: 2.5px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #0141F9;
    transition: 0.3s ease-in-out;
}


.burger-stick:nth-child(1) {
    top: 10px;
}

.burger-stick:nth-child(2) {
    top: 22px;
}

.burger-stick:nth-child(3) {
    top: 24px;
}

.burger-icon.active .burger-stick:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
}

.burger-icon.active .burger-stick:nth-child(2) {
    transform: rotate(-45deg);
    top: 16px;
}

.burger-icon.active .burger-stick:nth-child(3) {
    opacity: 0;
}

.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.burger-icon.active .burger-stick {
    background-color: #fff;
}
.logo{
    z-index: 2;
}
.logo-color{
    transition: .3s ease-in;
}
.logo-color.active {
    fill: white;
}
.horizontal-line{
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 0;
    opacity: 0.2;
}

#fade-dialog {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;
    max-width: 500px;
    width: 90%; 
    margin: auto; 
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 32px;
    cursor: pointer;
    color: #000;
}

.close-btn:hover {
    color: #ff0000;
}

dialog::backdrop {
    background: transparent;
}

.text-field {
    position: relative;
    margin-bottom: 1rem;
    transition: .2s ease-in-out;
}

.text-field__input {
    display: block;
    width: 100%; 
    height: 42px;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    box-sizing: border-box; 
}

.text-field__input::placeholder {
    color: transparent;
}

.text-field__input:focus {
    border: 1px solid #0141F9;
    outline: 0;
    transition: .2s ease-in-out;
}

.text-field__label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    color: #757575;
    padding: 0 0.5rem;
    transition: top 0.2s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
    background: #fff;
}

.text-field__input:focus~.text-field__label,
.text-field__input:not(:placeholder-shown)~.text-field__label {
    top: 0;
    transform: translateY(-50%) scale(0.75);
    color: #0141F9;
}

.form__submit {
    width: 100%; 
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #0141F9;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 32px;
}

.form-heading {
    color: #0141F9;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    width: 100%; /* Ширина заголовка на всю доступную ширину */
    margin: auto;
    margin-bottom: 8px;
}

.form__submit:hover {
    background: #0366D6;
}

.form__submit:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.form-heading-motto{
    text-align: center;
    margin-bottom: 32px;
  }


.herosection-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.color{
    color: #0141F9;
    font-size: 78px;
    font-weight: 400;
}
.herosection-container_first{
    font-weight: 400;
    font-size: 52px;
    width: 588px;
    
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/herosection-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.herosection-container_block-one, .herosection-container_block-two{
    font-weight: 400;
    font-size: 52px;
    max-width: 314px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.herosection-container_block-two{
    align-self: flex-end;
}
.center-align{
    text-align: center;
}
.right-align{
    text-align: right;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}
.action-herosection{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.bank-image{
    display: block;
    background-size: contain;
    max-width: 588px;
    height: 695px;
}

.herosection-container-mobile{
    display: none;
}

.about-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-heading{
    font-size: 18px;
    color: #0141F9;
    font-style: italic;
    margin-bottom: 65px;
}
.about-motto-p{
    font-size: 78px;
}
.left-align-margin-desktop{
    margin-left: 70px;
}
.about-img{
    max-width: 588px;
    background-size: contain;
}

.about-and-why-p{
    width: 294px;
}
.about{
    max-width: 1200px;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;
}
.about-and-why-container{
    display: flex;
    width: 588px;
}
.flex-left{
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    line-height: 24px;
}
.about-benefits{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 294px;
    margin-top: 24px;
}
.about-benefit{
    display: flex;
    gap: 12px;
}
.program{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.left-align-margin-desktop-program {
    margin-left: 40px;
}
.about-motto-p-program{
    font-size: 78px;
    margin-bottom: 64px;
    margin-left: 80px;
}
.program-cards-container{
    display: flex;
    justify-content: end;
}
.program-cards{
    width: 906px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.first-card-program{
    display: flex;
    width: 588px;
    align-items: center;
    gap: 90px;
    padding: 48px;
    background-color: #F7F7F7;
    border-radius: 32px;
    height: 269px;
    line-height: 1.3;
}
.program-card-img-one{
    width: 260px;
    height: 173px;
    background-size: contain;
}
.program-card-p{
    width: 179px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.program-bold{
    font-weight: 500;
    font-size: 18px;
}
.bold{
    font-weight: 500;
}
.program-italic{
    font-style: italic;
}
.card-first-container, .card-third-container{
    display: flex;
    justify-content: end;
}
.figure-absolute{
    position: absolute;
    z-index: -1;
    top: -255px;
}
.speakers{
    max-width: 1200px;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;
}
.speakers-motto-container{
    width: 588px;
    margin-bottom: 48px;
}
.right-align-speakers{
    font-size: 78px;
    text-align: right;
}
.color-hero{
    color: #0141F9;
    font-size: 52px;
}
.left-align-margin-desktop-speakers{
    font-size: 78px;
}
.center-align-speakers{
    text-align: center;
    font-size: 78px;
}
.speakers-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 32px;
}
.speakers-cards{
    display: flex;
    justify-content: space-between;
    width: 906px;
}
.speaker-img{
    margin-bottom: 24px;
}
.speaker-name{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
.speaker-job{
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.4;
}
.speaker-job-modal{
    line-height: 1.4;
}
.open-speaker-info {
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    color: #0141F9;
    gap: 6px;
    font-size: 16px;
    outline: none;
    border: none;
}

.dialog-content {
    display: flex;
    gap: 80px;
}

.left-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-section img {
    width: 250px;
    height: 250px;
    border-radius: 32px;
    object-fit: cover;
}

.left-section .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.left-section .position {
    font-size: 14px;
    color: #666;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-section .topic {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0141F9;
}

.right-section .thesis {
    font-size: 16px;
    color: black;
}

.close-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-dialog:hover {
    color: #000;
}
.fade-dialog{
    width: 1000px;
    border: none;
    border-radius: 32px;
    transition: .3s ease-in-out;
}
.thesis-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 572px;
}
.speakers-job-modal{
    text-align: center;
}
.price{
    max-width: 1200px;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;
}
.price-category{
    font-size: 78px;
    font-weight: 400;
    margin-bottom: 48px;
}
.price-cards-container{
    display: flex;
    justify-content: end;
    gap: 32px;
}

.price-card-flex-p{
    display: flex;
    gap: 10px;
}
.price-card-one{
    background-color: #F7F7F7;
    border-radius: 32px;
    width: 588px;
    display: flex;
    flex-direction: column;
    height: 283px;
    padding: 20px;
}
.price-card-time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.price-card-flex-p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0141F9;
    text-align: center;
}
.big-price-card-p{
    color: #0141F9;
    font-size: 48px;
}
.price-card-heading{
    font-size: 24px;
    font-style: italic;
    color: #0141F9;
}
.price-cards-end{
    display: flex;
    justify-content: end;
}
.price-cards-wrap{
    width: 906px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.price-card-bg{
    background-image: url(../assets/images/price-card-bg.png);
    background-size: contain;

}
.bold-heading{
    font-size: 78px;
    font-weight: 400;
}
.do-not-lose{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.do-not-lose-motto{
    width: 588px;
}
.price-button{
    width: 588px;
    height: 506.8px;
    flex-direction: column-reverse;
    font-size: 20px;
}
.price-button svg{
    width: 100px;
    height: 100px;
}
.marquee-heading-wrap{
    max-width: 1200px;
    margin: auto;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marquee-content svg {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
}
.marquee-heading-wrap{
    max-width: 1200px;

}
.location{
    max-width: 1200px;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;
}
.middle-bold-heading{
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 16px;
}
.location-p-text{
    width: 300px;
}
.bank-link{
    color: #0141F9;
    text-decoration: underline;
    margin-top: 24px;
    margin-bottom: 30px;
}
.bank-location{
    width: 588px;
    height: 471px;
}
.location-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-photo{
    width: 282px;
    height: 211px;
}
.location-photos{
    display: flex;
    gap: 20px;
}
.FAQ{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 96px;
}




.accordion {
    width: 906px;
    border-top: 0.5px solid #D6D6D6;
    border-bottom: 0.5px solid #D6D6D6;
    overflow: hidden;
    background-color: #fff;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    height: 90px; /* Фиксированная высота заголовка */
    justify-content: space-between;
    padding: 0 48px;
    cursor: pointer;
    outline: none;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .accordion-header svg {
    transition: transform 0.3s ease;
  }
  
  .accordion-header.active svg {
    transform: rotate(-45deg);
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, margin-top 0.3s ease-in-out;
    padding: 0 48px;
  }
  
  .accordion-header.active + .accordion-content {
    margin-top: -24px;
  }
  
  #accordion-content p {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 24px;
    width: 626px;
  }

.faq-number{
    color:#0141F9;
    font-size: 14px;
}
.accordion-header-text{
    display: flex;
    align-items: center;
    gap: 12px;
}
.faq-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }
.premier{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 96px;
}

.premier-container-block-one{
    width: 588px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.premier-button{
    width: 588px;
}
.premier-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.premier-container-block-two{
    background-color: #F7F7F7;
    padding: 30px;
    width: 588px;
    border-radius: 24px;
    
}
.premier-row-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

}
.premier-row-one p{
    width: 250px;
}
.color-text{
    color: #0141F9;
}

.premier-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.premier-row-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}
.hotel-link{
    color: #0141F9;
    text-decoration: underline; 
    display: block;
    text-align: center;
}
.premier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.premier-row-p{
    text-align: center; 
    width: 140px;
    margin-top: 12px;
}

.ticker-inline {
    margin: 0 auto;
    overflow: hidden;
  }
  
  .ticker-inline-bottom-trial {
    margin-bottom: 4rem;
  }
  
  .tickers {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 1200px;
    overflow: hidden;
    margin: auto;
    display: block;
  }
  
  .ticker1 {
    position: absolute;
    top: 2px;
    left: -110%;
    animation: marquee1 1s linear infinite;
  }
  
  .ticker {
    display: flex;
    font-family: var(--font-first);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    color: #969696;
    animation: startLine 15s linear, marquee 15s linear 15s infinite;
    width: 2630px;
    margin: 0 auto;
  }
  
  .ticker__head {
    width: 430px;
    text-align: center;
    margin-left: 10px;
  }
  .footer-image{
    width: 100%;
    margin: auto;
    height: 100%;
    margin: auto;
  }
  .color-hero{
    font-weight: 400;
  }
  
  @keyframes startLine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
@media screen and (max-width: 850px) {
    .nav-container{
        display: none;
    }
    .burger-icon {
        display: block;
    }
    dialog {
        padding: 30px; /* Уменьшаем padding для маленьких экранов */
    }

    .form-heading {
        font-size: 24px; /* Уменьшаем размер заголовка */
        line-height: 26px;
    }

    .text-field__input {
        font-size: 14px; /* Уменьшаем размер шрифта для инпутов */
    }

    .form__submit {
        font-size: 14px; /* Уменьшаем размер шрифта для кнопки */
    }
    .herosection-container{
        display: none;
    }
    .herosection-container-mobile{
        display: block;
        margin: auto;
        max-width: 330px;
    }
    .bank-image{
        max-width: 330px;
        height: 390px;
    }
    .color{
        font-size: 32px;
    }
    .herosection-container_block-one, .herosection-container_block-two{
        font-size: 32px;
        width: 330px;
    }
    .left-align{
        text-align: left;
    }
    .left-align-margin{
        text-align: left;
        margin-left: 26px;
        
    }
    .right-align-margin{
        text-align: right;
        margin-right: 20px;
    }
    .right-align-margin-two{
        text-align: right;
        margin-right: 30px;
    }
    .action-herosection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .action-herosection{
        margin-top: 24px;
    }
    .action-button{
        width: 330px;
    }
    .mobile-bg-container{
        background-image: url('../assets/images/herosection-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 24px;
    }
    .about-img{
        max-width: 330px;
        position: absolute;
        z-index: -1;
    }
    .about-section-container{
        justify-content: center;
    }
    .flex-left{
        justify-content: center;
    }
    .about-svg {
        width: 330px;
        height: 150px;
    }
    .about-and-why-p {
        width: 330px;
        margin-bottom: 16px;
      }
      .about-and-why-container{
        width: 330px;
        justify-content: center;
      }
      .about-benefits{
        width: 330px;
        margin-top: 16px;
      }
      .about-motto-p {
        font-size: 48px;
      }
      .color{
        font-size: 48px;
      }
      .about-motto-p-program{
        font-size: 48px;
      }
      .program-cards{
        align-items: center;
      }
      .first-card-program{
        width: 330px;
        height: 146px;
        padding: 32px;
        gap: 32px;
      }
      .program-bold, .program-italic{
        font-size: 16px;
      }
      .program-cards svg{
        height: 66px;
        width: 100px;
      }
      .program-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .section-heading{
        text-align: center;
        margin-bottom: 32px;
      }
      .about{
        margin-bottom: 64px;
        margin-top: 64px;
      }
      .color32{
        font-size: 32px;
        color: #0141F9;
        font-weight: 400;
      }
      .figure-absolute{ display: none;}

      .right-align-speakers, .left-align-margin-desktop-speakers, .center-align-speakers{
        font-size: 48px;
      }
      .speakers-motto-container{
        width: 330px;
      }
      .speakers{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
      }
      .speakers-cards{
        width: 330px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
      .left-section{
        display: none;
      }
      .right-section{
        width: 300px;
      }
      .thesis-list{
        width: 300px;
      }
      .price-category {
        font-size: 48px;
        font-weight: 400;
        width: 330px;
        margin: auto;
        margin-bottom: 48px;
      }
      .price-card-one {
    height: 264px;
        width: 330px;

      }
      .price-cards-wrap{
        align-items: center;
      }
      .do-not-lose{
        flex-direction: column;
        gap: 24px;
      }
      .do-not-lose-motto {
        width: 330px;
      }
      .bold-heading{
        font-size: 48px;
      }
      .price-button{
        height: 254px; 
        border-radius: 32px;
      }
      .marquee-content{
        gap: 30px;
        
      }
      .marquee-container {
        overflow: hidden;
    }
    .location-container{
        flex-direction: column-reverse;
        gap: 24px;
    }
    .location-text{
        width: 330px;
        margin: auto;
    }
    .middle-bold-heading{
        font-size: 48px;
    }
    .location-photos{
        width: 330px;
    }
    .location-photo{
        width: 155px;
        height: 120px;
    }
    .bank-location {
        width: 330px;
        height: 300px;
      }
      .location{
        margin-top: 64px;
        margin-bottom: 64px;
      }
      .price{
        margin-bottom: 64px;
        margin-top: 64px;
      }
      .accordion{
        width: 330px;
      }
      .faq-container{
        justify-content: center;
      }
      .accordion-header{
        font-size: 18px;
      }
      #accordion-content p {
        font-size: 14px !important;
      }
      .FAQ{
        margin-bottom: 64px;
      }
      .premier-svg{
        display: none;
      }
      .premier-container-block-one{
        width: 330px;
      }
      .premier-container{
        width: 330px;
        margin: auto;
      } 
      .premier-container-block-two{
        width: 330px;
      }
      .premier-row-one{
        flex-direction: column;
        gap: 16px;
      }
      .premier-row-one p {
        width: 260px;
      }
      .premier-row-two{
        flex-direction: column;
        gap: 16px;
      } 
      .premier-row-p{
        text-align: center; 
        width: 260px;
        margin-top: 8px;
    }
    .accordion-content-p{
        font-size: 14px;
    }
    .tickers{
        width: 330px;
    }
}

